*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

#nav{
    width: 100vw;
    height: 6vh;
    background-color: #EDEDED;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 200;
}

#leftnav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-left: 800px;
    align-items: center;
}

#Secondbar{
    width: 100vw;
    height: 8vh;
    display: flex;
}

#searchBar{
    height: 40px;
    width: 600px;;
    border-radius: 13px;
    text-align-last: left;
    padding-left: 30px;
    margin-top: 15px;
    margin-left: 120px;
    background-color: #EDEDED;
    font-size: large;
}
#brand{
    margin-top: 15px;
    margin-left: 20px;
    color: #C0C0C0;
    background-color:#000000;
    height: 7vh;
    width: 8vw;
    padding-left:10px;
    padding-top: 5px;
    padding-right: 10px;
}
#Signin{
    margin-top: 25px;
    margin-left: 10px;
}
#Signinicon{
    margin-top: 25px;
    margin-left: 120px;
  
}

#gifticon{
    margin-top: 25px;
    margin-left: 30px;
  
}

#carticon{
    margin-top: 25px;
    margin-left: 30px;
}

#ThirdnavBar{
    width: 100vw;
    height: 10vh;
    display: flex;
}

#leftnav3rd{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
    
}

#center3rd{
    width: 35%;
}

#rightnav3rd{
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: large;
}

#FourthnavBar{
    width: 100vw;
    height: 10vh;
    background-color: #EDEDED;
    display: flex;
}

#left4thnav{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#Home{
    width: 100vw;
    min-height:60vh ;
    
    display: flex;
}


#sideBar{
    min-height: 50vh;
    width: 15vw;
    /* background-color: aquamarine; */
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 15px;
    justify-content: space-around;
    display: grid;
    row-gap: 30px;
    font-size: large;
}

#pic1{
    min-height: 50vh;
    width: 18vw;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;
}

#pic2{
    min-height: 50vh;
    width: 18vw;
    margin-top: 15px;
    padding: 10px;
}

#pic3{
    min-height: 50vh;
    width: 18vw;
    margin-top: 15px;
    padding: 10px;
}

#pic4 {
    min-height: 50vh;
    width: 18vw;
    margin-top: 15px;
    padding: 10px;
}




#Botbar1{
    min-height: 15vh;
    width: 100vw;
    margin-top: 30px;
    background-color:#EDEDED;
    display: flex;
}

#icons{
    width: 20vw;
    height: 5vh;
    padding-top: 8px;
    margin-left: 550px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#Botbar2{
    width: 100vw;
    min-height: 37vh;
    background-color: #EDEDED;
    text-align: center;
}